
:root {
  --blue: #24a0ed;
  --white: #ffffff;
  --red: #dc2626;
}

body {
  height: 100vh;
}

.row {
  margin-left: auto !important;
  margin-right: auto !important;
}
.row>* {
  padding: 0%;
  padding-left: 0% !important;
  padding-right: 0% !important;
}

.cursor-pointer { cursor: pointer; }

.button {
  background-color: var(--blue) !important;
  width: 100%;
  color: var(--white) !important;
}

.is-invalid {
  border-color: var(--red);
}

.dropdown-menu {
  right: 0;
  left: auto;
}

.error-message {
  font-size: 12px;
}
